<div class="confetti " style="z-index: -122;">

    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
    <div class="confetti-piece"></div>
</div>
<div class="container-fluid " style="padding: 7%;"style="z-index: 222;">
<div class="thanks-note justify-content-center " id="thanksNote" >
<div class=" text-center p-5 ">
<h1>Thank You!</h1>
<p>Your order has been successfully placed.</p><br>
<a href="/" class="btn btn-outline-success rounded-pill ">Continue shopping</a>

</div>
</div>
</div>




<!-- Connect Footer -->
<%- include('../layouts/footbar-1') %>
<!-- Connect Footer -->

</div><!-- End .page-wrapper -->
